{%extends 'generator/layout.html' %}

{% block content %}
<div class="col-md-3 offset-2 mt-5" >
    <div class="card card-body" style="width: 15cm;">
        <h1>Contraseña: </h1>
        <div class="form-group">
            <div style="border: 5px solid white;">
                <p >
                    <h3 style="padding-left: 1cm;">{{password}}</h3>
                </p>
            </div>
        </div>
        <div class="form-group">
            <a href="/">
                <button class="btn btn-outline-info btn-block" style="padding: 0.5cm; margin-top: 0.3cm;">Volver al generador</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}